<h3>Subjects</h3>
<button (click)="connect()">Connect</button>
<br />
<hr>
<div style="height: 100%; width: 100%; display: flex;">
  <app-subject-child name='Subject' [subject]='subject'></app-subject-child>
  <app-subject-child name='Replay Subject' [subject]='replaySubject'></app-subject-child>
  <app-subject-child name='Async Subject' [subject]='asyncSubject'></app-subject-child>
  <app-subject-child name='Behavior Subject' [subject]='behaviorSubject'></app-subject-child>
</div>

<!--
Subject: começa a exibir a partir do subscribe.
Replay Subject: começa a exibir a partir do 1º dado.
Async Subject: exibe somente o último evento.
Behavior: exibe a partir do envento anterior ao subscribe.

-->
